<!DOCTYPE html>
<html>
<head>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <title><%- @title %></title>
</head>
  <body>
  <% content %>
  </body>

  <!--Start react App -->
  <script src="/flowappAssets/bundle.js"></script>
</html>